.main-container{
	width: 80%;
	display: inline-flex;
	color:white;
}
.left-side{
	width: 50%;
	float: left;
	padding:30px;
	position:relative;
	
}
.right-side{
	width: 50%;
	padding:30px;
	
}

.ticket{
	justify-content: space-between;
    background: rgba(200,93,255, 0.1);
    padding: 0.5em;
    margin: 1em;
    transition: ease .5s;
}
.ticket p{
	text-align: left;
	padding:10px;
}
.cosmoDuck-img{
	position: fixed;
	bottom:0;
	width:15%;
	left:20%;
}
.button{
	 padding:5px 30px;
	 border: solid 1px #ec3290;
	 border-radius: 20px;
	 text-transform: uppercase;
	 text-align: center;
	 cursor: pointer;
	 background: transparent;
}
.button:hover{
	background: rgba(236,50,144, 0.5);
	transition: ease .2s;
}
.ticket .button{
	text-decoration: none;
	 color:white;
	 font-size:calc(12px + 1vmin);
	font-weight: 400;
	margin:20px;
	display: inline-block;
}
.inline-button {
display: inline-block;
}
.ticket input{
	 background: rgba(104,45,111, 0.5);
	 padding:5px 30px;
	 border: solid 1px #ec3290;
	 color:white;
	 border-radius: 20px;
	 font-size:calc(12px + 1vmin);
	 text-align: center;
	 text-transform: uppercase;
	font-weight: 400;
	display: inline-block;
	margin:20px;

}

.overlay{
	position: fixed;
	width: 100vw;
	height: 100vh;
	top:0;
	left:0;
	z-index: 1000;
	background: rgba(0,0,0,0.7);
 	transition: ease .2s;
 	display: flex;
 	justify-content: center;
 	align-items: center;
}
.instructionPopup{
	width:60vw;
	max-height: 80vh;
	display: flex;
	border: solid 1px #ec3290;
	border-radius:30px;
	background: #5f143a;
	color:white;
	text-align: left;
	padding:30px;
	position: relative;
}
.instructionPopup p{
	overflow-y: auto;
}
.instructionPopup a {
position: absolute;
top: 10px;
right: 20px;
color: white;
font-weight: 600;
text-decoration: none;
text-transform: uppercase;
}
.instructionPopup a:hover{
	color:#ff369d;
	transition: ease .5s;
	text-transform: uppercase;
}