
SpaceDuck.UserService/.vs
SpaceDuck.UserService/SpaceDuck.UserService/bin
SpaceDuck.UserService/SpaceDuck.UserService/obj

SpaceDuck.UserService/SpaceDuck.KalamburyGame/bin
SpaceDuck.UserService/SpaceDuck.KalamburyGame/obj

SpaceDuck.UserService/SpaceDuck.Common/bin
SpaceDuck.UserService/SpaceDuck.Common/obj
