.app .overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
    transition: ease .2s;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000000;
}
.errorInfo{
    height: 50vh;
    width: 50vw;
    border:solid 1px red;
    border-radius: 20px;
    background: #97000a;
    font-size: 1.3em;
    line-height: 2em;
    color:white;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    position: relative;
    text-transform: uppercase;
    padding:20px;
}
.errorInfo a{
    position: absolute;
    top: 10px;
    right:20px;
    color:white;
    text-decoration: none;
}
.errorInfo a:hover{
    color:rgb(236,50,144);
}
.errorInfo img{
    position: absolute;
    bottom:0;
    left:0;
    width: 200px;
}