.piece-icon {
    margin: 2.5%;
    max-width: 95%;
    max-height: 95%;
}

.board-outer {
    display: block;
    margin: auto;
    position: relative;
    top: 2.5%;
    height: 95%;
    width: 95%;
}

.board {
    display: block;
    margin: auto;
    position: relative;
}

.square {
    display: inline-block;
    border-right: 1px solid rgb(240,240,240);
    border-bottom: 1px solid rgb(240,240,240);
}

.left-square {
    border-left: 1px solid rgb(240,240,240);
}

.top-square {
    border-top: 1px solid rgb(240,240,240);
}

.light-square {
    background-color: rgba(252,246,237,1.0);
}

.dark-square {
    background-color: rgba(0, 0, 0, 0.0);
}

/* EFFECTS */

.square-effect {
    display: block;
    width: 100%;
    height: 100%;
}

.selected {
    background-color: rgb(112, 112, 112, 1.0);
}

.target {
    background-color: rgb(255, 122, 122, 1.0);
}

.checked {
    background-image: url("../assets/check_effect.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 90%;
}