.piece-icon {
    margin: 10%;
    max-width: 80%;
    max-height: 80%;
}

.board-outer {
    display: block;
    margin: auto;
    position: relative;
    top: 2.5%;
    height: 95%;
    width: 95%;
}

.board {
    display: block;
    margin: auto;
    position: relative;
}

.square {
    display: inline-block;
    border-right: 1px solid rgb(240,240,240);
    border-bottom: 1px solid rgb(240,240,240);
    background-color: rgba(252,246,237,1.0);
    line-height: 0;
    margin-bottom: 0;
    width: 12%;
    height: 12%;
}

.square.selected {
    background-color: rgb(112, 112, 112);
}

.square.target {
    background-color: rgb(255, 122, 122);
}

.left-square {
    border-left: 1px solid rgb(240,240,240);
}

.top-square {
    border-top: 1px solid rgb(240,240,240);
}

.light-square {
    background-color: rgba(252,246,237,1.0);
}

.dark-square {
    background-color: rgba(0,0,0,0.0);
}